body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: 100px 100px 100px 100px 100px 100px 100px / 300px 300px 300px 300px 300px;
  gap: 16px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1/6;

}

.sidebar {
  background-color: #005B94;
  grid-row: 2/7;
}

.nav {
  background-color: #642cde;
  grid-column: 2/6;
}

.article {
  background-color: #7E1DC3;
  grid-area: 3/2/7/6;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/6;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}